@{
    ViewBag.Title = "Change Password";
    ViewBag.Page = "Change Password";
}

<h2>Change Password</h2>

<form action="/Users/ChangePass" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="oldPass" class="col-sm-2">Current Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="oldPass" name="oldPass" autofocus="autofocus" />
        </div>
    </div>

    <div class="form-group">
        <label for="newPass" class="col-sm-2">New Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="newPass" name="newPass" />
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPass" class="col-sm-2">Confirm Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="confirmPass" name="confirmPass" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/Users" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>