@model ProjectManager.Models.User

@{
    ViewBag.Title = "EditUser";
    ViewBag.Page = "Users";
    //4 and 5 for Manager and employee, 1 for ADMIN  
}

<h2>EditUser</h2>

<form action="/Users/EditUser" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <label for="oldUserName">Old Username: @Model.Username</label>
    <br />
    <label for="newUserName">New Username: </label>
    <input type="text" id="username" name="Username" value="@Model.Username" />
    <br />
    <br />

    <label for="oldRole">Old User Role: @{
        int userRole = Model.RoleId;
        string displayRole = "";
        if (userRole == 4) {
            displayRole = "Manager"; }
        else if (userRole == 5) {
            displayRole = "Employee"; }
        else if (userRole == 1) {
            displayRole = "ADMIN";}
        else {
            displayRole = userRole + ""; }    
    }@displayRole</label>
    <br />
    <label for="newRole">New User Role: </label>
    @Html.DropDownListFor( m => Model.RoleId , new SelectList(new List<Object>{
        new { value=1 , text = "Admin" },
        new { value=4 , text = "Manager" },
        new { value=5 , text = "Employee" }
        },
        "value",
        "text",
        3))
    <br />
    <br />

    <input type="submit" value="Save Changes" class="btn btn-primary" />
    <a href="/Users" class="btn btn-default">Discard Changes</a>
</form>