@model ProjectManager.Models.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Projects/Edit" method="post">
    <label for="oldProjName">Old Project Name: @Model.Name</label>
    <br />
    <label for="newProjName">New Project Name: </label>
    <input type="text" id="projectName" name="Name" autofocus="autofocus" value="@Model.Name"  />
    <br />

    <label for="oldStartTime">Old Project Start Date: @Model.Start.Value.Date</label>
    <br />
    <label for="newStartTime">New Project Start Date:</label>
    <input type="date" id="startDate" name="Start" />
    <br />

    <label for="oldEndTime">Old Project End Date: @Model.ExpectedEnd.Value.Date</label>
    <label for="newEndTime">New Project End Date</label>
    <input type="date" id="endDate" name="ExpectedEnd" />
    <br />
    <input type="submit" value="Create Project" class="btn btn-primary" />
</form>