@model List<ProjectManager.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<a href="/Projects/Create" class="btn btn-success">New Project</a>
<br /><br />

@{
    foreach (var project in Model)
    {
        <p>@project.Name</p>
    }
    
    if (Model.Count == 0)
    {
        <p>You have no projects.</p>
    }
}