@{
    ViewBag.Title = "NotFound";
    ViewBag.Page = "Projects";
}

<h2 class="error-name">NotFound</h2>

<p>The project you have requested does not exist or you are not authorized to view it.</p>
<a href="/Projects" class="btn btn-default">Return</a>
