@model ProjectManager.Models.NewTenantContext

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Tenant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="orgName">Organization Name</label>
    <input type="text" id="orgName" name="OrgName" autofocus="autofocus" />
    <br />
    <label for="adminUsername">Admin Username</label>
    <input type="text" id="adminUsername" name="AdminUsername" />
    <br />
    <label for="adminPassword">Admin Password</label>
    <input type="password" id="adminPassword" name="AdminPassword" />
    <br />
    <label for="bannerColor">Banner Color (hexadecimal color)</label>
    <input type="text" id="bannerColor" name="BannerColor" placeholder="#357ebd" maxlength="7"/>
    <br />
    <label for="textColor">Main Text Color (hexadecimal color)</label>
    <input type="text" id="textColor" name="TextColor" placeholder="#FFFFFF" maxlength="7"/>
    <br />
    <label for="file">Logo</label>
    <input type="file" id="file" name="file" />
    <br />
    <input type="submit" value="Register" class="btn btn-primary" />
}