@{
    ViewBag.Title = "Project Manager (Title Pending)";
}

<h1>Project Manager (Title Pending)</h1>

<div class="dev-test">
    <p>---For dev purposes only---</p>
    <p>Database Access Test: @Html.Action("Test")</p>
    <p>If you see "sample_tenant" above, the application is working correctly.</p>
</div>

<h2>Welcome to Project Manager!</h2>
<p>Project Manager is a web-based SaaS application for managing your team's projects.</p>
<p>Create an account to get started!</p>

<a href="Tenant/Create">Register Your Organization</a>
<br />
<a href="">Login (NOT IMPLEMENTED)</a>