@model ProjectManager.Models.LoginContext

@{
    ViewBag.Title = "Project Manager (Title Pending)";
}

<h2>Welcome to Project Manager!</h2>
<p>Project Manager is a web-based SaaS application for managing your team's projects.</p>
<p>Registering your organization is easy and takes only a minute!</p>
<a class="btn btn-primary" href="Tenant/Create">Register Your Organization</a>
