@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Home/Login" method="post">
    <label for="username2">Username</label>
    <input type="text" id="username2" name="Username" autofocus="autofocus" />
    <br />
    <label for="password2">Password</label>
    <input type="password" id="password2" name="Password" />
    <br />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>