@model ProjectManager.Models.CurrentUserContext

@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Settings";
}

<h2>Tenant Settings</h2>

<p>Welcome @Model.Username!</p>

<h3>Current Logo:</h3>
<p><img src="@Model.LogoPath" alt="[Logo]" class="img-max-height" ></p>
@using (Html.BeginForm("EditLogo", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" id="file" name="file" />
    <br />
    <input type="submit" value="Update Logo" class="btn btn-primary" />
}