@model ProjectManager.Models.CurrentUserContext

@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Settings";
}

<h2>Tenant Settings</h2>

<p>Welcome @Model.Username!</p>

<h3>Current Logo:</h3>
<p><img src="@Model.LogoPath" alt="[Logo]" class="img-max-height" ></p>