/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom styles
-----------------------------------------------------------*/

/* Header styles */

.header-container {
    background-color: #357ebd;
}

.header, .main-content-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
}

    .header .logo {
        height: 49px;
        margin-top: -5px;
        margin-right: 10px;
    }

    .header h1 {
        margin-top: 0px;
        display: inline;
    }

    .header h1 a {
        text-decoration: none;
        color: white;
    }

    .header .login {
        margin-top: 2px;
    }

    .header .user {
        font-size: 1.5em;
    }

    .header .login label, .header .login .user {
        color: white;
    }

    .header .login .user, .header .login .btn {
        vertical-align: middle;
    }

/* Projects styles */

.projects thead {
    background-color: #222222;
    color: white;
}

.projects thead td {
    font-size: 1.2em;
    font-weight: bold;
}

.projects tr {
    border: solid #888888 1px;
}

    .projects tr:nth-child(2n) {
        background-color: #f0f0f0;
    }

.projects td {
    padding: 10px 20px;
}

.projects td .project-name {
    font-weight: bold;
}

.project-details td {
    padding: 10px 20px 10px 0px;
}

    .project-details td:first-child {
        font-weight: bold;
    }

.img-max-height {
    max-height: 150px;
}

.color-block {
    float: left; 
    height: 30px; 
    width: 100px;
    border: solid 1px #cccccc;
}

/*Color Selection*/

.colors thead {
    background-color: #222222;
    color: white;
}

.colors thead td {
    font-size: 1.2em;
    font-weight: bold;
}

.colors td {
    padding-right:10px;
    padding-bottom: 20px;
}