@model ProjectManager.Models.RequirementContext

@{
    ViewBag.Title = "Create";
    ViewBag.Page = "Requirements";
}

<h2>Create Requirement</h2>

<form action="/Requirements/Create" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="requirementDescription" class="col-sm-2">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="requirementDescription" name="Description" autofocus="autofocus" />
        </div>
    </div>

    <div class="form-group">
        <label for="requirementTime" class="col-sm-2">Time in Hours</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="requirementTime" name="Time" />
        </div>
    </div>

    <div class="form-group">
        <label for="type" class="col-sm-2">Type</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => Model.TypeId,
                                  ProjectManager.Utils.DbUtils.GetRequirementTypeSelectItems(),
                                  new { id = "worker", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="assignedUser" class="col-sm-2">Assigned User</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => Model.AssignedUserId,
                                  ProjectManager.Utils.DbUtils.GetUserSelectItems(),
                                  new { id = "worker", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="project" class="col-sm-2">Project</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => Model.ProjectId, new SelectList(ProjectManager.Utils.Auth.GetManagedProjects(), "ProjectId", "Name"), new { id = "project", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Create Requirements" class="btn btn-primary" />
            <a href="/Requirements" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
