@{
    ViewBag.Title = "NoUsers";
    ViewBag.Page = "Requirements";
}

<h2>No Employees</h2>

<p>There are no users with "Employee" role on this account. Have an organization admin add an Employee or change the role of an existing user to Employee.</p>
<a href="/Requirements" class="btn btn-default">Go Back</a>