@{
    ViewBag.Title = "NotFound";
}

<h2>NotFound</h2>

<p>The resource you have requested does not exist or you are not authorized to view it.</p>
<a href="/@ViewBag.Page" class="btn btn-default">Return</a>
